.button{
    background-color: rgb(112, 80, 173);
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    color: rgb(226, 220, 231);
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: all 0.5s ease;
}
.button:hover {
    background: rgb(182, 178, 178);
    color: rgb(31, 7, 77);
}